{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        height: 100vh;
        box-sizing: border-box;
    }

    .left-section {
        max-width: 300px;
        width: 100%;
        margin-right: 20px;
    }

    .left-section h2 {
        text-align: center;
        font-weight: 500;
        color: #333;
        margin-bottom: 20px;
    }

    .left-section form {
        display: flex;
        flex-direction: column;
    }

    .left-section form input {
        margin-bottom: 15px;
        padding: 12px;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #ccc;
        transition: border-color 0.3s;
    }

    .left-section form input:focus {
        border-color: #007bff;
        outline: none;
    }

    .left-section form button {
        padding: 12px;
        font-size: 16px;
        font-weight: 500;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .left-section form button:hover {
        background-color: #0056b3;
    }

    .left-section p {
        text-align: center;
        margin-top: 20px;
        color: #555;
    }

    .left-section p a {
        color: #007bff;
        text-decoration: none;
        font-weight: 500;
    }

    .left-section p a:hover {
        text-decoration: underline;
    }

    .right-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .right-section img {
        max-width: 94%;
        max-height: 94%;
        object-fit: contain;
    }

    @media (max-width: 900px) {
        .right-section img {
            display: none;
        }
    }
    .btn-google {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #555;
        border: 1px solid #ccc;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .btn-google:hover {
        background-color: #f7f7f7;
        border-color: #bbb;
    }

    .btn-google img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
</style>

<div class="login-container">
    <div class="left-section">
        <h2>Вход в аккаунт</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'signup_user' %}">Зарегистрируйтесь</a></p>
        {% if SOCIAL_AUTH_GOOGLE_OAUTH2_KEY %}
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google mt-3">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo">
                Войти через Google
            </a>
        {% endif %}
    </div>
    
    <div class="right-section">
        <img src="{% static 'generic/img/illustration.png' %}" alt="Иллюстрация">
    </div>
</div>
{% endblock %}

