{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        height: 100vh;
        box-sizing: border-box;
    }

    .left-section {
        max-width: 300px;
        width: 100%;
        margin-right: 20px;
    }

    .left-section h2 {
        text-align: center;
    }

    .left-section form {
        display: flex;
        flex-direction: column;
    }

    .left-section form input {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
    }

    .left-section form button {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
    }

    .right-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .right-section img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    @media (max-width: 900px) {
        .right-section img {
            display: none;
        }
    }
</style>

<div class="login-container">
    <div class="left-section">
        <h2>Вход в аккаунт</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логин">
            <input type="password" name="password" placeholder="Пароль">
            <button type="submit">Войти</button>
        </form>
        <p>Если у вас нет аккаунта, <a href="{% url 'signup_user' %}">зарегистрируйтесь</a>.</p>
    </div>
    <div class="right-section">
        <img src="{% static 'generic/img/illustration.png' %}" alt="Иллюстрация">
    </div>
</div>
{% endblock %}
