{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Group Detail</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h2>Группа для маршрута: {{ group.name }}</h2>
    <h3>Участники:</h3>
    <ul id="user-list">
        {% for user in group.users.all %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    <button id="group-action">
        {% if request.user in group.users.all %}
            Покинуть группу
        {% else %}
            Присоединиться к группе
        {% endif %}
    </button>
    <script>
        $('#group-action').click(function() {
            var action = $(this).text().trim() === 'Присоединиться к группе' ? 'join' : 'leave';
            $.ajax({
                url: "{% url 'join_group' group.id %}".replace('join', action),
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        if (response.action === 'joined') {
                            $('#user-list').append('<li>{{ request.user.username }}</li>');
                            $('#group-action').text('Покинуть группу');
                        } else if (response.action === 'left') {
                            $('#user-list li').filter(function() {
                                return $(this).text() === '{{ request.user.username }}';
                            }).remove();
                            $('#group-action').text('Присоединиться к группе');
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
