{% extends 'base_generic.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

{% load static %}
<html>
<head>
    <title>Yandex Maps</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/route_page.css"> 
    <script src="https://api-maps.yandex.ru/2.1/?apikey=403f644f-4840-426e-b2df-bea42d662d87&lang=ru_RU" type="text/javascript"></script>
    <input type="hidden" id="route-id" value="{{ route.id }}">
    <script>
    var customIconImage = "{% static 'img/rusa.png' %}";
    var customFinishImage = "{% static 'img/finish_flag.png' %}";
    const routeId = document.getElementById('route-id').value;
    </script>
</head>
<body>
    <div class="container">
        <div class="left-column">
            <div class="route-header">
                <img src="{% static 'img/main_r_img.png' %}" alt="Route Image">
                <h2>{{ route.name }}</h2>
            </div>
            <br>
            <div id="map"></div>
            <br>
            <h3>Author: Besrezen</h3> <!-- Предположим, что у вас есть поле author_name в модели -->
        </div>
        <div class="right-column">
            <div class="right-el">
                <h6 style="color:cadetblue;">ОСНОВНАЯ ИНФОРМАЦИЯ</h6>
                <div class="parameter">
                    <p class="card-text"><span>Номер маршрута:</span><br><img src="{% static 'img/route_img.png' %}" alt="Route Image"><i class="icon-class"></i><i class="icon-class"></i><b>&nbsp;&nbsp;{{ route.id }}</b></p>
                </div>
                <div class="parameter">
                    <p><span>Сложность:</span><br><img src="{% static 'img/difficulty_img.png' %}" alt="Route Image"><i class="icon-class"></i><b>&nbsp;&nbsp;{{ route_difficulty }}</b></p>
                </div>
                <div class="parameter">
                    <p><span>Популярность:</span><br><img src="{% static 'img/popularity_img.png' %}" alt="Route Image"><i class="icon-class"></i><i class="icon-class"></i><b>&nbsp;&nbsp;{{ route_popularity }}</b></p>
                </div>
            </div>
            <div class="right-el">
                <h6 style="color:cadetblue;">РАССТОЯНИЕ И ВРЕМЯ</h6>
                <div class="parameter">
                    <p><span>Длина:</span><br><img src="{% static 'img/length_img.png' %}" alt="Route Image"><i class="icon-class"></i><i class="icon-class"></i><b>&nbsp;&nbsp;{{ route_length }} км</b></p>
                </div>
                <div class="parameter">
                    <p><span>Время:</span><br><img src="{% static 'img/time_img.png' %}" alt="Route Image"><i class="icon-class"></i><i class="icon-class"></i><b>&nbsp;&nbsp;{{ route_time }}</b></p>
                </div>    
            </div>
            <h5 class="card-title">
                <a href="{% url 'groups_list_page' route.id %}">Перейти к списку групп по маршруту</a>
            </h5>
        </div>
    </div>
    <script src="../../static/js/current_route.js?v={{ now|date:'U' }}"></script>
    <script src="../../static/js/animated_line.js"></script>
</body>
</html>
{% endblock %}
