{% extends 'base_generic.html' %}
{% load static %}
{% block title %}Profile Page{% endblock %}

{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inder:wght@200;300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'userprofile/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="all_page_container">
        <div class="header_top">
            <div class="logo">
                <div class="web">WEB Руза</div>
                <img class="vector-1" src="{% static 'userprofile/assets/vectors/vector1_x2.svg' %}" />
            </div>
        </div>

        <header class="profile_text">
            <h1>Профиль</h1>
        </header>

        <form method="post" action="{% url 'update_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="code-section">
                <div class="row">
                    <div class="col-md-4 photo">
                        <img src="{{ profile.personal_photo.url }}" alt="Ваше фото" id="profile-photo">
                        <input type="file" name="personal_photo" id="id_personal_photo" style="display: none;">
                        <button type="button" id="upload-photo-btn" style="display: none;" class="change-photo-btn">Изменить фото</button>
                    </div>

                    <div class="col-md-4 info">
                        <div class="title_gray_fild">
                            <label class="label_tag"><strong>Ваше имя:</strong></label>
                        </div>
                        <div class="description_gray_fild">
                            <span class="name">{{ profile.name|default:"" }}</span>
                        </div>

                        <div class="title_gray_fild">
                            <label class="label_tag"><strong>Регион:</strong></label>
                        </div>
                        <div class="description_gray_fild">
                            <span class="region">{{ profile.region|default:"" }}</span>
                        </div>
                    </div>

                    <div class="col-md-4 contacts">
                        <div class="title_gray_fild">
                            <label class="label_tag"><strong>Дата рождения:</strong></label>
                        </div>
                        <div class="description_gray_fild">
                            <span class="birth_date">{{ profile.birth_date|date:"d.m.Y"|default:"" }}</span>
                        </div>

                        <div class="title_gray_fild">
                            <label class="label_tag"><strong>Контактные данные:</strong></label>
                        </div>
                        <div class="description_gray_fild">
                            <span class="email">{{ profile.user.email }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile">Портфолио</div>
            <div class="slider">
                <ul>
                    <li style="background-image: url('{% static 'userprofile/assets/png/image2.png' %}')"></li>
                    <li style="background-image: url('{% static 'userprofile/assets/png/image3.png' %}')"></li>
                    <li style="background-image: url('{% static 'userprofile/assets/png/image4.png' %}')"></li>
                </ul>
                <button class="prev"><</button>
                <button class="next">></button>
            </div>
            <script src="{% static 'userprofile/slider.js' %}"></script>
        </form>

        <div class="mini_header">Специальность</div>
        <div class="spicalization_container">
            <span class="text_spcecialization">{{ profile.profession }}</span>
        </div>
        <div class="info_about_me">Информация о себе</div>
        <span class="text_area">{{ profile.bio }}</span>
        <div class="ground_button_container">
            <button class="close_profile">Закрыть</button>
            <button type="button" class="edit_profile">Редактировать</button>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'userprofile/edit_profile.js' %}"></script>
        <script>
            document.getElementById("upload-photo-btn").addEventListener("click", function() {
                document.getElementById("id_personal_photo").click();
            });
            document.getElementById("id_personal_photo").addEventListener("change", function() {
                const [file] = this.files;
                if (file) {
                    document.getElementById("profile-photo").src = URL.createObjectURL(file);
                }
            });
        </script>
    </div>
</div>
{% endblock content %}
