#constructor, #map {
    position: relative;
    width:150vh;
    height:75vh;
    margin-top: 5px;
}

#buttonContainer {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    gap: 10px;
    height: 3vh;
}

#buttonContainer button {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
#buttonContainer label {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 10vh;
}

#buttonContainer button:hover {
    background-color: #45a049;
}

#routesContainer {
    position: absolute;
    top: 100px;
    right: 15px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(153, 154, 228);
    padding: 15px 32px;
    border-radius: 12px;
    opacity: 0.5;
    overflow: auto;
    max-height: 500px;
}

#routesContainer:hover {
    opacity: 1;
}

#routesContainer button {
    display: block;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#routesContainer button:hover {
    background-color: #45a049; 
}
